In [42]:
import os
import json

brand='sixdo'

# Step 1: List all JSON files in the folder
folder_path = f"E:\\COLLEGE\\PROJECT\\designer-fashion-industry-analysis\\temp_crawling_results\\{brand}"
json_files = [file for file in os.listdir(folder_path) if file.endswith('.json')]

# Step 2: Merge all JSON files into one dictionary
merged_data = {}
for file in json_files:
    with open(os.path.join(folder_path, file), 'r') as f:
        data = json.load(f)
        for key, value in data.items():
            if key in merged_data:
                merged_data[key].append(value)
            else:
                merged_data[key] = [value]

# Step 3: Save merged data to a new JSON file
output_folder = f'E:\\COLLEGE\\PROJECT\\designer-fashion-industry-analysis\\Crawling\\data_for_analysis\\{brand}'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)
output_file_path = os.path.join(output_folder, f'detail_info_all.json')
with open(output_file_path, 'w') as f:
    json.dump(merged_data, f, indent=4)

print("Merged data saved to:", output_file_path)

Merged data saved to: E:\COLLEGE\PROJECT\designer-fashion-industry-analysis\Crawling\data_for_analysis\sixdo\detail_info_all.json

In [43]:
import os
import pandas as pd
import json

# Step 1: List all JSON files in the folder
folder_path = f"E:\\COLLEGE\\PROJECT\\designer-fashion-industry-analysis\\temp_crawling_results\\{brand}"
json_files = [file for file in os.listdir(folder_path) if file.endswith('.json')]

# Step 2: Extract all unique keys from product_info dictionaries
all_keys = set()
for file in json_files:
    with open(os.path.join(folder_path, file), 'r') as f:
        data = json.load(f)
        all_keys.update([key.strip() for key in data['product_info'].keys()])

all_keys = list(all_keys)

rows = []

# Step 4: Fill in list with data from JSON files
for file in json_files:
    with open(os.path.join(folder_path, file), 'r') as f:
        row = {}
        data = json.load(f)
        product_info = data['product_info']
        current_prod_info_keys = [key.strip() for key in product_info.keys()]
        for key in all_keys:
            if key in current_prod_info_keys:
                row[key] = product_info[key]
            else:
                row[key] = None
            
        rows.append(row)
            

# Step 5: Create DataFrame from the list of rows
product_info_df = pd.DataFrame(rows)
output_folder = f'E:\\COLLEGE\\PROJECT\\designer-fashion-industry-analysis\\Crawling\\data_for_analysis\\{brand}'
if not os.path.exists(output_folder):
    os.makedirs(output_folder)
excel_file_path = os.path.join(output_folder, f'product_info.xlsx')
product_info_df.to_excel(excel_file_path, index=False, sheet_name='product_info')
product_info_df.head(3)

,Hat Style,Bottoms Length,Current Price,SIZE,MàU SắC,Dress/Skirt Style,Product Title,Màu Sắc,Description,Cropped Top,...,Category,Sleeve Length,Occasion,Neckline,Dress/Skirt Length,Sold,MÀU,Style,Material,Date Crawled
0,None,None,₫748.000,"[S, M, L, XL]",None,None,Áo họa tiết hoa SIXDO (White Top With Embro...,None,SIXDO là nơi phái NỮ có thể tìm thấy sự đa dạn...,None,...,Shopee>Women Clothes>Tops>Shirts & Blouses,Short Sleeves,None,None,None,0,None,None,None,2024-04-26
1,None,None,₫1.961.673,None,[Black],None,Áo khoác dáng dài SIXDO (Black Plaid Long ...,None,SIXDO là nơi phái NỮ có thể tìm thấy sự đa dạn...,None,...,Shopee>Women Clothes>Tops>Shirts & Blouses,Long Sleeves,None,None,None,9,None,None,Woven,2024-04-27
2,None,None,₫439.000,"[S, M, L]",None,None,Áo sơ mi chấm bi SIXDO (Polka Dot Midi Woven...,None,SIXDO là nơi phái NỮ có thể tìm thấy sự đa dạn...,None,...,Shopee>Women Clothes>Tops>Shirts & Blouses,Long Sleeves,None,None,None,1,"[Black Polka Big, Dark Brown Polka Dot]",None,None,2024-04-27

In [6]:
product_info_df.columns

Index(['Hat Style', 'Bottoms Length', 'Current Price', 'SIZE', 'MàU SắC',
       'Dress/Skirt Style', 'Product Title', 'Màu Sắc', 'Description',
       'Cropped Top', 'Average Rating', 'Stock', 'Country of Origin',
       'Bottoms Style', 'Size', 'Sizde', 'Màu Săc', 'Waist Height', 'Gender',
       'Quantity', 'Ships From', 'Platform', 'Percent Discount',
       'Crossed Price', 'Image List', 'Màu', 'Brand', 'Rating Count',
       'Bottoms Fit Type', 'Pattern', 'Top Length', 'Category',
       'Sleeve Length', 'Occasion', 'Neckline', 'Dress/Skirt Length', 'Sold',
       'MÀU', 'Style', 'Material', 'Date Crawled'],
      dtype='object')

In [7]:
product_info_df.columns

Index(['Hat Style', 'Bottoms Length', 'Current Price', 'SIZE', 'MàU SắC',
       'Dress/Skirt Style', 'Product Title', 'Màu Sắc', 'Description',
       'Cropped Top', 'Average Rating', 'Stock', 'Country of Origin',
       'Bottoms Style', 'Size', 'Sizde', 'Màu Săc', 'Waist Height', 'Gender',
       'Quantity', 'Ships From', 'Platform', 'Percent Discount',
       'Crossed Price', 'Image List', 'Màu', 'Brand', 'Rating Count',
       'Bottoms Fit Type', 'Pattern', 'Top Length', 'Category',
       'Sleeve Length', 'Occasion', 'Neckline', 'Dress/Skirt Length', 'Sold',
       'MÀU', 'Style', 'Material', 'Date Crawled'],
      dtype='object')

In [8]:
product_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Hat Style           1 non-null      object
 1   Bottoms Length      5 non-null      object
 2   Current Price       459 non-null    object
 3   SIZE                83 non-null     object
 4   MàU SắC           8 non-null      object
 5   Dress/Skirt Style   112 non-null    object
 6   Product Title       459 non-null    object
 7   Màu Sắc             41 non-null     object
 8   Description         459 non-null    object
 9   Cropped Top         11 non-null     object
 10  Average Rating      368 non-null    object
 11  Stock               459 non-null    object
 12  Country of Origin   88 non-null     object
 13  Bottoms Style       3 non-null      object
 14  Size                374 non-null    object
 15  Sizde               1 non-null      object
 16  Màu Săc             1 non-null      object
 17  Waist Height        2 non-null      object
 18  Gender              1 non-null      object
 19  Quantity            459 non-null    object
 20  Ships From          459 non-null    object
 21  Platform            459 non-null    object
 22  Percent Discount    456 non-null    object
 23  Crossed Price       456 non-null    object
 24  Image List          459 non-null    object
 25  Màu                 94 non-null     object
 26  Brand               459 non-null    object
 27  Rating Count        368 non-null    object
 28  Bottoms Fit Type    5 non-null      object
 29  Pattern             243 non-null    object
 30  Top Length          1 non-null      object
 31  Category            459 non-null    object
 32  Sleeve Length       219 non-null    object
 33  Occasion            5 non-null      object
 34  Neckline            111 non-null    object
 35  Dress/Skirt Length  185 non-null    object
 36  Sold                459 non-null    object
 37  MÀU                 7 non-null      object
 38  Style               1 non-null      object
 39  Material            174 non-null    object
 40  Date Crawled        459 non-null    object
dtypes: object(41)
memory usage: 147.1+ KB

In [9]:
product_info_df[['Product Title', 'Current Price']][product_info_df['Current Price'].isnull()]

Empty DataFrame
Columns: [Product Title, Current Price]
Index: []

In [10]:
product_info_df['Sold'] = product_info_df['Sold'].astype(int)

In [11]:
product_info_df['Sold'].value_counts(bins=10)

(-0.181, 18.0]    266
(18.0, 36.0]      114
(36.0, 54.0]       44
(54.0, 72.0]       16
(72.0, 90.0]       10
(90.0, 108.0]       6
(108.0, 126.0]      1
(126.0, 144.0]      1
(162.0, 180.0]      1
(144.0, 162.0]      0
Name: count, dtype: int64

In [12]:
product_info_df['Pattern'].value_counts()

Pattern
Floral                   170
Plain                     47
Polka Dotted              18
Striped                    3
Checkered / Plaid          2
Floral, Plain              1
Floral, Polka Dotted       1
Polka Dotted, Striped      1
Name: count, dtype: int64

In [13]:
import re

product_info_df['Current Price'] = product_info_df['Current Price'].fillna('')
product_info_df['Current Price'] = product_info_df['Current Price'].str.replace(r'₫','').str.replace('.','')
product_info_df['Current Price'] = pd.to_numeric(product_info_df['Current Price'])

In [14]:
numbers_intervals = []
display(product_info_df['Current Price'].value_counts(bins=6).sort_index())
print(len(product_info_df))

(195764.59900000002, 738233.333]    150
(738233.333, 1277466.667]           231
(1277466.667, 1816700.0]             58
(1816700.0, 2355933.333]             11
(2355933.333, 2895166.667]            7
(2895166.667, 3434400.0]              2
Name: count, dtype: int64

459

In [15]:
numbers_intervals = []
display(product_info_df['Sold'].value_counts(bins=7).sort_index())
print(len(product_info_df))

(-0.181, 25.714]      318
(25.714, 51.429]      102
(51.429, 77.143]       21
(77.143, 102.857]      15
(102.857, 128.571]      2
(128.571, 154.286]      0
(154.286, 180.0]        1
Name: count, dtype: int64

459

In [44]:
product_info_df['lowest_cat'] = product_info_df['Category'].str.split('>').str.get(-1)
num_products_each_cat = product_info_df.groupby(['Category','lowest_cat']).size().reset_index()
num_products_each_cat.columns = ['Category','lowest cat', 'prod num']
display(num_products_each_cat)
num_products_each_cat.to_excel(f'..\\data_for_analysis\\{brand}\\Lượng sản phẩm mỗi Category.xlsx',sheet_name='prods each cat', index=False, header=True)

,Category,lowest cat,prod num
0,Shopee>Fashion Accessories>Hats & Caps,Hats & Caps,1
1,Shopee>Men Clothes>Pants/Suits>Pants,Pants,1
2,Shopee>Men Clothes>Tops>Shirts,Shirts,1
3,Shopee>Women Clothes>Dresses,Dresses,279
4,"Shopee>Women Clothes>Jackets, Coats & Vests>Bl...",Blazers,5
5,"Shopee>Women Clothes>Jackets, Coats & Vests>Vests",Vests,27
6,"Shopee>Women Clothes>Jackets, Coats & Vests>Wi...",Winter Jackets & Coats,5
7,Shopee>Women Clothes>Pants & Leggings>Others,Others,1
8,Shopee>Women Clothes>Pants & Leggings>Pants,Pants,9
9,Shopee>Women Clothes>Shorts>Shorts,Shorts,1
10,Shopee>Women Clothes>Skirts,Skirts,42
11,Shopee>Women Clothes>Sweaters & Cardigans,Sweaters & Cardigans,1
12,Shopee>Women Clothes>Tops>Others,Others,21
13,Shopee>Women Clothes>Tops>Shirts & Blouses,Shirts & Blouses,55
14,Shopee>Women Clothes>Tops>T-shirts,T-shirts,2
15,Shopee>Women Clothes>Tops>Tanks & Camisoles,Tanks & Camisoles,5
16,Shopee>Women Clothes>Tops>Tube Tops,Tube Tops,1
17,Shopee>Women Clothes>Traditional Wear>Tops,Tops,2

In [8]:
import pandas as pd
import os.path
import time

combined_csv_path = 'E:\COLLEGE\PROJECT\designer-fashion-industry-analysis\Crawling\crawling_code\combined_product_data.csv'

def read_and_print_length():
    check = pd.read_csv(combined_csv_path)
    print(f'\r{len(check)}', end='')

elasped_time = 0
while elasped_time <5:
    read_and_print_length()
    time.sleep(5)
    elasped_time += 5

848